/* Big tablets to 1200px (width smaller than the 1140px row)*/
@media only screen and (max-width: 1200px) {}


/* Small tablets to big tablets: from 768 to 1023px */
@media only screen and (max-width: 1023px) {
    .siteName {
        font-size: 180%;
        margin: 15px 0;
    }

    .menu {
        font-size: 80%;
    }

    .gallery {
        padding-top: 60px;
    }

    .month {
        font-size: 80%;
    }
}


/* Small phones to small tablets: from 481 to 767px */
@media only screen and (max-width: 767px) {
    .siteName {
        margin: 10px 0;
        float: left;
        font-size: 150%;
        font-weight: 400;
        margin: 15px 0 5px 55px;
    }

    .menu {
        display: none;
        float: left;
        text-align: left;
        margin-top: 15px;
    }

    .menu li {
        display: block;
        margin: 0 25px;
    }

    .menu li a:link,
    .menu li a:visited {
        display: block;
        border: 0;
    }

    .mobile-menu {
        display: inline-block;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.97);
        z-index: 9999;
        /*vertical stacking*/
    }

    .sticky .menu {
        margin-top: 15px;
        float: left;
        font-size: 70%;
        padding-bottom: 5px;
    }

    .sticky .menu li a:link,
    .sticky .menu li a:visited {
    }

    .sticky .siteName {
        font-size: 100%;
    }

    .sticky .mobile-menu {
        margin-top: 10px;
    }


    .gallery {
        padding-top: 50px;
    }

    .month {
        width: 63%;
        font-size: 60%;
    }

    .footer-nav {
        font-size: 60%;
        padding-top: 5px;
        padding-left: 30px;
    }
}


/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    .siteName {
        font-size: 130%;
        margin: 10px 0 10px 20px;
    }

    .menu {
        font-size: 50%;
    }

    .gallery {
        padding-top: 20px;
    }

    .month {
        width: 66%;
        font-size: 50%;
    }

    .footer {
        margin-top: 20px;
    }

    .footer-nav {
        font-size: 60%;
        padding-top: 0px;
        padding-left: 20px;
    }

    .social-links {
        font-size: 70%;
        padding-right: 20px;
    }

    .span-1-of-2 {
        padding: 10px 0;
        width: 49.2%;
    }
}
